<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollegeProfile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FF1899D1C4FF58900A32991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FF189B11C4FF58900A32991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FF189BC1C4FF58900A32991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
